{% from 'macros/img.twig' import img_style %}
{% extends "base.twig" %}
{% if posts %}

   {% block content %}
      <div class=_msp-portfolio__container>
         {% for post in posts %}
            {% set excerpt = post.get_preview(null, false, null) %}
            <article
               id=portfolio-{{ post.ID }}
               class="mdl-card mdl-shadow--4dp _msp-portfolio _msp-portfolio--item {{ post.class }}">

               {% if post.thumbnail %}
                  <div
                     class="mdl-card__title _msp-portfolio__image"
                     style="{{ img_style(post.thumbnail, 'summary-image') }}">
                     <p class="mdl-card__title-text  _msp-portfolio__categories">
                        {{ post.terms('jetpack-portfolio-type') | tax_links | join(',&nbsp;') }}
                     </p>
                  </div>
               {% endif %}

               <div class="mdl-card__title _msp-portfolio__title">
                  <h2 class="mdl-card__title-text">
                     {{ post.name }}
                  </h2>
               </div>

               {% if excerpt %}
                  <div class="mdl-card__supporting-text  _msp-portfolio__excerpt">
                     {{ excerpt }}
                  </div>
               {% endif %}

               {% include '_partials/portfolio--actions.twig' %}
            </article>
         {% endfor %}

      </div>
   {% endblock %}

{% endif %}
