<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
   <meta charset={{ site.charset }}>
   <meta http-equiv=X-UA-Compatible content=IE=edge>
   <meta name=viewport content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <link rel=profile href=http://gmpg.org/xfn/11>
   <link rel=pingback href={{ site.pingback_url }}>
   {% block header %}
   {% endblock %}
   {{ wp_head }}
   <style type=text/css>

      ._msp-header__logo {
         background: url("{{ logo.src }}") 50% no-repeat;
      }

      ._msp-footer {
         background-image: url("{{ footer_bg.src }}");
         background-size: cover;
      }
   </style>
</head>

<body class='{{ body_class }}'>

<div id=page class="mdl-layout mdl-js-layout mdl-layout--fixed-header _msp-layout">
   {% include '_partials/header.twig' %}

   <main id="content" class="mdl-layout__content _msp-layout__content">
      {% block content %}
         {{ __('Sorry, no content.', '_msp') }}

      {% endblock %}
      {% include '_partials/footer.twig' %}

   </main>
   {% block footer %}{% endblock %}
   <div class="mdl-layout__obfuscator"></div>
</div><!-- #page -->

{{ wp_footer() }}
</body>
</html>
