{% import 'macros/macros.twig' as macros %}
{% extends "base.twig" %}

{% if posts %}

   {% block content %}
      <div class="mdl-grid portfolio-max-width">
         {% for post in posts %}
            <article id=post-{{ post.ID }} class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card {{ post.class }}">

               {% if post.thumbnail %}
                  <style>
                     #post-{{ post.ID }} > .portfolio-categories {
                     {{ macros.img_style(post.thumbnail, 'summary-image') }}
                     }
                  </style>
                  <div class="mdl-card__title portfolio-categories">
                     <p class="mdl-card__title-text">
                        {{ post.categories | tax_links | join(',&nbsp;') }}
                     </p>
                  </div>
               {% endif %}

               <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text portfolio-title">
                     {{ post.name }}
                  </h2>
               </div>

               <div class="mdl-card__supporting-text">
                  {{ post.get_preview(null, false, null) }}
               </div>
               <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                     href="{{ post.link }}">{{ __('Read more') }}</a>
               </div>
            </article>
         {% endfor %}

      </div>
   {% endblock %}

{% endif %}
