{% extends "base.twig" %}
   {% block content %}
      <div id="primary" class=_msp-blog--container>
         {# TODO page title ? #}

         {% for post in posts %}
            {% if not loop.first %}
               <hr/>
            {% endif %}
         {% endfor %}
         <article id=post-{{ post.ID }} class="_msp-blog {{ post.class }}">
            <header class="_msp-blog__header">
               <h2 class="_msp-blog__title"><a href={{ post.link }} rel=bookmark>
                     {{ post.title }}
                  </a></h2>
               <div class="_msp-blog__meta">
                  {# TODO <?php _msp_posted_on(); ?>#}
                  <p class="_msp-blog__date">
                     <i class="material-icons">access_time</i>{{ post.post_date | date }}</p>
               </div><!-- .entry-meta -->

            </header><!-- .entry-header -->

            <div class="_msp-blog__body">

               <span class="_msp-blog__content">
                  {{ post.content }}
               </span>
            </div><!-- .entry-content -->

            <footer class="_msp-blog__footer">
               {# TODO <?php _msp_entry_footer(); ?>#}
            </footer><!-- .entry-footer -->
         </article><!-- #post-## -->

         {# todo the_posts_navigation(); #}


      </div><!-- #primary -->
   {% endblock %}
