<article id=post-{{ post.ID }} class="blog-post {{ post.class }}">
   <header class="blog-post__header">
      <h2 class="blog-post__title"><a href={{ post.link }} rel=bookmark>
            {{ post.title }}
         </a></h2>
      <div class="blog-post__meta">
         {# TODO <?php _msp_posted_on(); ?>#}
      </div><!-- .entry-meta -->

   </header><!-- .entry-header -->

   <div class="blog-post__body">
      <p class="blog-post__date">{{ post.post_date | date }}</p>
      <span class="blog-post__excerpt">
         {#{{ post.content }}#}
         {# TODO use excerpt #}
         {{ post.get_preview(50,false,null,false) }}
      </span>
   </div><!-- .entry-content -->

   <footer class="blog-post__footer">
      {# TODO <?php _msp_entry_footer(); ?>#}
   </footer><!-- .entry-footer -->
</article><!-- #post-## -->
