<footer class="mdl-mini-footer _msp-footer">
   <div class="mdl-mini-footer__left-section _msp-footer__left-section">
      <div>
         <span><i>_msp&nbsp;</i>{{ __('by Manu Phatak', '_msp') }}</span>
      </div>
      <div>Proudly powered by WordPress</div>
   </div>
   <div class="_msp-footer__middle-section">
      <span>&copy;&nbsp;{{ "now" | date("Y") }}&nbsp;{{ site.title }}</span>

   </div>
   <div class="mdl-mini-footer__right-section _msp-footer__right-section">
      <div>{{ site.title }}</div>
      <div>{{ site.description }}</div>
   </div>
</footer>
