{% set excerpt = post.get_preview(null, false, null) %}
<article
   id=portfolio-{{ post.ID }}
   class="mdl-card mdl-shadow--4dp _msp-portfolio _msp-portfolio--item {{ post.class }}"
   style="width: {{ post.thumbnail.sizes['summary-image'].width ?: post.thumbnail.width }}px;"
>

   {% include '_partials/portfolio--thumbnail.twig' %}


   <div class="mdl-card__title _msp-portfolio__title">
      <h2 class="mdl-card__title-text">
         {{ post.name }}
      </h2>
   </div>

   {% if excerpt %}
      <div class="mdl-card__supporting-text  _msp-portfolio__excerpt">
         {{ excerpt }}
      </div>
   {% endif %}

   {% include '_partials/portfolio--actions.twig' %}
</article>
